@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('../fonts/Ubuntu-Regular.eot');
	src: local('☺'), url('../fonts/Ubuntu-Regular.woff') format('woff'), url('../fonts/Ubuntu-Regular.ttf') format('truetype'), url('../fonts/Ubuntu-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('../fonts/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf') format('truetype'), url('../fonts/Ubuntu-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin:0;
	color:#333;
	min-width:940px;
	font:14px/17px "MyriadPro", Arial, Helvetica, sans-serif;
}
img {border-style:none;}
a {
	text-decoration:none;
	/*color:#c30;*/
	color: #476B47;
}
a:hover {text-decoration:underline;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes: none;}
q:before,
q:after{content:"";}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
#header{
	width:100%;
	height:140px;
	z-index:3;
	position:relative;
	background:url(../images/bg-header.gif) repeat-x;
}
.header-holder{
	width:875px;
	overflow:hidden;
	margin:0 auto;
	padding:9px 60px 0 5px;
	height:132px;
	background:url(../images/shadow-header.png) no-repeat 50% 100%;
}
.logo{
	float:left;
	width:300px;
        margin-left: 46px;
        margin-top: 20px;
}
.logo h1,
.logo strong{
	display:block;
	margin:0;
	text-indent:-9999px;
	overflow:hidden;
	/*background:url(../images/logo.gif) no-repeat;*/
        background:url(../images/logo.png) no-repeat;
	width:230px;
	height:57px;
	font-size:0;
        
}
.logo h1 a,
.logo strong a{
	display:block;
	height:57px;
}
.logo:hover{
	position:relative;
}
.logo:hover h1{
/*	background-position:0 -57px;*/
}
.logo .tooltip{
	display:none;
	position:absolute;
	top:24px;
	right:20px;
	background:url(../images/bg-tooltip-logo.png) no-repeat;
	width:40px;
	height:21px;
	color:#c00;
	font-size:10px;
	line-height:21px;
	padding:0 0 0 14px;
        visibility: hidden;
}
.logo:hover .tooltip{display:block;}
#header .international{
	float:right;
	padding:0 0 0 45px;
	background:url(../images/map-icon.png) no-repeat 0 0px;
	/*color:#999;*/
        color: #525a5f;
	margin:8px 0 0;
}
#header .international:hover{
	/*color:#fff;*/
	/*background-position:0 -84px;*/
}
.add-nav{
	float:right;
	margin:0;
	padding:8px 0 0;
	list-style:none;
	overflow:hidden;
}
.add-nav li{
	float:left;
	padding:0 14px 0 14px;
	margin:0 1px 0 -1px;
	background:url(../images/separator01.gif) no-repeat 0 3px;
}
.add-nav a{color:#525a5f;}
.navbar{
	width:100%;
	position:absolute;
	top:96px;
	left:0;
	z-index:10;
}
.navbar .holder{
	position:relative;
	width:100%;
}
.navbar .holder:after{
	content:"";
	display:block;
	clear:both;
}
.navbar .frame{
	float:left;
	position:relative;
	left:50%;
}
#nav{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
	left:-50%;
}
#nav li{
	text-transform:uppercase;
	float:left;
	padding:0 1px 0 2px;
/*	background:url(../images/separator-nav.gif) no-repeat;*/
	border-right: 1px solid #BEBEBE;
}
#nav li ul li{
	border-right: none;
}
#nav li:first-child{
	background:none;
	padding:0 1px 0 0;
}
#nav a{
	float:left;
	height:37px;
	padding:0 22px 0 30px;
	line-height:37px;
	color:#525a5f;
	font-weight:normal;
	font-family: 'Ubuntu-Regular', sans-serif;
}
#nav a:hover,
#nav li:hover a,
#nav .active a{
/*	background:url(../images/bg-nav-hover.gif) repeat-x;*/
	color:#000;
	text-decoration:none;
	border:solid #fff;
	border-width:0 1px 1px;
	margin:0 0 -1px;
	padding:0 21px 0 29px;
}
#nav ul{
	display:none;
	width:193px;
	background:#fff;
	position:absolute;
	float:none;
	top:37px;
	left:0;
	margin:0;
	padding:5px 7px 6px 6px;
	list-style:none;
	box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 1px 1px 1px #c2c2c2;
}
#nav li:hover{position:relative;}
/*#nav li:hover ul{display:block;}*/
#nav ul li{
	padding:0;
	float:none;
	background:none;
}
#nav ul li ul { left: 190px; top: 0; }
#nav li:hover ul a{
	background:none;
	padding:0;
	display:block;
	float:none;
	color:#666;
	font-size:12px;
	line-height:14px;
	text-transform:none;
	height:auto;
	border:0;
	margin:0;
}
#nav li ul li a span{
	display:block;
	padding:7px 30px 8px 18px;
}
#nav li ul li a:hover{
	padding:0;
	color:#333;
	background:#f6f5f5 url(../images/bg-drop-hover.gif) no-repeat;
}
#nav li ul li a:hover span{
	background:url(../images/bg-drop-hover.gif) no-repeat -193px 100%;
}
#nav li:hover ul li ul li a { padding: 8px 8px; display: block; }
#nav li ul li ul li a { padding: 8px 8px; display: block; }
#main{
	position:relative;
	z-index:1;
	width:938px;
	margin:-6px auto 0;
	background:url(../images/bg-main.gif) repeat-y;
}
.main-holder{
	height:1%;
	overflow:hidden;
	padding:0 38px 43px 50px;
	background:url(../images/bg-main.gif) no-repeat -938px 100%;
}
.promo{
	width:938px;
	margin:0 -38px 9px -50px;
	position:relative;
	padding: 0 0 5px;
	background:url(../images/bg-promo-shadow.gif) no-repeat 50% 100%;
}
.promo .items-list{
	height:326px;
	width:902px;
	padding:0 18px;
	border-bottom:1px solid #fff;
	margin:0;
	list-style:none;
	position:relative;
}
.promo .items-list li{
	z-index:1;
	position:absolute;
	top:0;
	left:18px;
	height:326px;
}
.promo .items-list li.active{z-index:2;}
.switcher{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:230px;
	left:466px;
	z-index:50;
}
.switcher li{
	float:left;
	margin:0 12px 0 0;
}
.switcher a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bullet-switcher.png) no-repeat;
	width:16px;
	height:16px;
}
.switcher a:hover,
.switcher .active a{
	background-position:0 -16px;
}
.items-list .caption{
	background:url(../images/bg-promo-block.png) no-repeat;
	width:501px;
	height:160px;
	padding:38px 40px 0 36px;
	position:absolute;
	top:61px;
	left:0;
	color:#fff;
}
.items-list h2{
	margin:0 0 6px;
	/*color:#e6edf7;*/
	color: #fff;
	text-transform:uppercase;
	font:30px/32px 'Ubuntu-Regular', sans-serif;
}
.items-list p{
	margin:0 0 14px;
}
.items-list .more{
	padding:0 0 0 12px;
	/*color:#f33b03;*/
	color:#fff;
	background:url(../images/bullet-more-white.gif) no-repeat 0 3px;
	/*background:url(../images/bullet-more-white.gif) no-repeat 0 5px;*/
}
.boxes{
	width:878px;
	overflow:hidden;
	margin:0 -20px;
}
.boxes .box{
	float:left;
	background:url(../images/bg-box-c.gif) repeat-y;
	width:513px;
}
.boxes .box .holder{
	width:100%;
	background:url(../images/bg-box.gif) no-repeat;
}
.boxes .box .frame{
	padding:24px 26px 50px 27px;
	height:1%;
	overflow:hidden;
	background:url(../images/bg-box.gif) no-repeat -513px 100%;
}
.boxes .box h2{
	margin:0 0 29px;
	color:#fff;
	font:14px/17px 'Ubuntu-Bold', sans-serif;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px #001828;
}
.boxes .links{
	float:right;
	padding:3px 0 0 18px;
	width:197px;
}
.boxes h3{
	color:#666;
	font:12px/14px 'Ubuntu-Bold', sans-serif;
	margin:0 0 17px;
	text-transform:uppercase;
}
.boxes .links ul{
	margin:0;
	padding:0;
	list-style:none;
	font-size:12px;
	line-height:14px;
}
.boxes .links ul li{
	height:1%;
	overflow:hidden;
	padding:0 0 12px;
}
.boxes .links ul a{
	/*color:#004d82;*/
	color: #476b47;
	padding:0 0 0 11px;
	background:url(../images/bullet02.gif) no-repeat 0 2px;
}
.boxes .links ul a:hover{
	text-decoration:none;
	/*color:#c00;*/
	color: #476b47;
}
.boxes .content {
	height:1%;
	overflow:hidden;
	min-height: 167px;
}
.boxes .content p{
	margin:0;
	font-size:12px;
	line-height:18px;
}
.search-box{
	float:right;
	background:url(../images/bg-box-find.jpg) no-repeat;
	width:344px;
	height:276px;
	padding:5px 6px;
	position:relative;
}
.search-box .headline{
	position:absolute;
	top:5px;
	left:6px;
	width:324px;
	padding:18px 0 8px 20px;
/*	background:url(../images/bg-headline.png);*/
}
.search-box-text-cont {
	padding: 0 25px;
	position: absolute;
	left: 0;
	top: 70px;
	font-size: 12px;
	width: 294px;
}
.search-box .image {
	padding:0 0 16px;
/*padding:0 0 2px;*/
}
.search-box .image img{
	display:block;
}
.search-box .headline h2{
	/*color:#b00;*/
	color: #476b47;
	margin:0;
	text-transform:uppercase;
	font:14px/16px 'Ubuntu-Bold', sans-serif;
}
.search-form {
	padding:0 0 0 37px;
}
.search-form .row{
	width:100%;
	overflow:hidden;
	padding:0 0 7px;
}
.search-form label{
	width:100px;
	float:left;
	color:#fff;
	padding:4px 0 0;
	font:14px/17px 'Ubuntu-Regular', sans-serif;
}
.search-form select{
	width:164px;
	float:left;
	margin:0;
	color:#353535;
}
.search-form .input-box{
	background:url(../images/bg-input-search.png) no-repeat;
	width:153px;
	height:23px;
	float:left;
	padding:5px 5px 0 7px;
}
.search-form .input-box .text{
	float:left;
	width:120px;
	border:0;
	margin:0;
	line-height:14px;
	padding:2px 0 0;
	color:#353535;
	font-size:11px;
	background:none;
}
.search-form .input-box .btn{
	font-size:0;
	line-height:0;
	width:19px;
	height:18px;
	background:none;
	text-indent:-9999px;
	overflow:hidden;
	margin:0;
	float:right;
	border:0;
	cursor:pointer;
}
#footer{
	padding:44px 0 0;
	width:100%;
	background:#EEF5F5 url(../images/divider01.gif) repeat-x;
}
.nav-holder{
	float:left;
	padding:0 0 0 37px;
}
#footer .nav {
	width:225px;
	float:left;
	margin:0 10px 0 0;
}
#footer .center{width:134px;}
#footer .nav ul{
	margin:0;
	padding:12px 0 0;
	list-style:none;
}
#footer .nav a{color:#000;}
#footer .nav ul li{
	padding:0 0 12px;
}
#footer .nav ul a{
	color:#666;
}
#footer .nav ul a:hover{
	color:#c00;
	text-decoration:none;
}
.footer-holder{
	width:938px;
	margin:0 auto;
	overflow:hidden;
	font-size:12px;
	line-height:15px;
	padding:0 0 30px;
}
#footer .right-panel{
	width:220px;
	float:right;
	padding:0 36px 0 0;
}
#footer .title{
	color:#000;
	font-size:12px;
	display:block;
	font-weight:normal;
	margin:0 0 12px;
}
#footer .subscribe {
	padding:0 0 27px;
}
#footer .subscribe .row{
	background:url(../images/bg-subscribe.png) no-repeat;
	width:207px;
	overflow:hidden;
	height:30px;
	padding:0 0 0 12px;
}
#footer .subscribe label{
	color:#666;
	display:block;
	padding:0 0 11px;
}
#footer .subscribe .text,
#sidebar .subscribe .text{
	background:none;
	float:left;
	width:120px;
	padding:7px 0 6px;
	margin:0;
	border:0;
	color:#999;
	font-size:12px;
	line-height:15px;
}
#footer .subscribe .btn,
#sidebar .subscribe .btn{
	width:82px;
	height:30px;
	font-size:12px;
	line-height:30px;
	color:#666;
	float:right;
	padding:0 0 2px;
	margin:0;
	border:0;
	cursor:pointer;
	background:none;
}
.social ul{
	margin:0;
	padding:3px 0 0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.social ul li{
	float:left;
	width:24px;
	height:24px;
	overflow:hidden;
	margin:0 7px 0 0;
}
.social ul a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/ico-social.png) no-repeat;
	width:150px;
	height:48px;
}
.social ul a:hover{background-position:0 -25px;}
.social .linkedin{background-position:-32px 0;}
.social .linkedin:hover{background-position:-32px -25px;}
.social .youtube{background-position:-64px 0;}
.social .youtube:hover{background-position:-64px -25px;}
.social .facebook{background-position:-95px 0;}
.social .facebook:hover{background-position:-95px -25px;}
.social .rss{background-position:-126px 0;}
.social .rss:hover{background-position:-126px -25px;}
.copyright{
	padding:13px 0 10px;
	background:#476B47 url(../images/divider01.gif) repeat-x;
}
.copyright ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	color:#fff;
	font-size:12px;
	line-height:16px;
}
.copyright ul li{
	display:inline;
	padding:0 11px 0 20px;
	background:url(../images/separator02.gif) no-repeat 0 2px;
}
.copyright ul li:first-child{
	background:none;
	padding:0 11px;
}
.copyright ul a{
	color:#fff;
}
.page-title {
	position:relative;
	width:902px;
	margin:0 -20px 0 -32px;
	padding:0 0 30px;
}
.page-title img{
	display:block;
}
.page-title h1{
	position:absolute;
	bottom:48px;
	left:32px;
	margin:0;
	color:#fff;
	font:30px/34px 'Ubuntu-Regular', sans-serif;
}
.intro {
	width:100%;
	height: 102px;
	color:#09090f;
}
.intro p{
	margin:0 0 11px;
}
.intro h2{
	font-size:18px;
	line-height:21px;
	margin:0 0 11px;
	font-weight:normal;
}
.search-bar{
	background:url(../images/bg-search-bar.gif) no-repeat;
	width:808px;
	height:35px;
	padding:8px 0 0 27px;
	overflow:hidden;
	margin:0 0 41px;
}
.search-bar .search-form{
	padding:0;
	float:left;
}
.search-bar .search-form .row{
	float:left;
	width:auto;
	padding:0 15px 0 0;
}
.search-bar .search-form label{
	color:#666;
	font-size:12px;
	width:auto;
	padding:4px 5px 0 0;
}
.search-bar .ttl{
	float:left;
	font-size:12px;
	line-height:15px;
	padding:6px 27px 0 0;
	font-weight:normal;
}
.profile-list{
	margin:0 -69px 0 0;
	padding:0 0 0 18px;
	list-style:none;
	width:879px;
}
.profile-list li{
	width:224px;
	margin:0 65px 0 0;
	padding:0 0 45px;
	display:inline-block;
	vertical-align:top;
}
.profile-list .photo,
.info-box .photo{
	width:100%;
	position:relative;
	padding:0 0 22px;
	background:url(../images/shadow-photo.gif) no-repeat 50% 100%;
}
.profile-list .photo img,
.info-box .photo img{
	display:block;
}
.profile-list .photo .link,
.info-box .photo .link{
	position:absolute;
	bottom:22px;
	left:0;
	font-size:12px;
	background:url(../images/bg-link.png) no-repeat;
	width:206px;
	height:20px;
	line-height:20px;
	padding:0 0 0 18px;
}
.profile-list .photo .link a,
.info-box .photo .link a{float:left;}
.profile-list .info-list,
.info-box .info-list{
	margin:0 0 10px;
	height:1%;
	padding:8px 0 2px;
	overflow:hidden;
	font-size:12px;
	line-height:18px;
	border: solid #e5e1e1;
	border-width:1px 0;
}
.profile-list .info-list dt,
.info-box .info-list dt{
	width:77px;
	color:#999;
	float:left;
	padding:0 0 3px;
}
.profile-list .info-list dd,
.info-box .info-list dd{
	margin:0;
	height:1%;
	overflow:hidden;
	padding:0 0 3px;
}
.profile-list .actions,
.info-box .actions{
	width:244px;
	margin:0 -25px 0 5px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.profile-list .actions li,
.info-box .actions li{
	float:left;
	width:auto;
	font-size:12px;
	line-height:14px;
	padding:0 15px 0 0;
	margin:0;
}
.profile-list .actions a,
.info-box .actions a{
	/*color:#c30;*/
	color: #476b47;
	float:left;
	padding:0 0 3px 20px;
}
.profile-list .actions a.email,
.info-box .actions a.email{
	background:url(../images/ico-email.gif) no-repeat 0 2px;
}
.profile-list .actions a.download,
.info-box .actions a.download{
	background:url(../images/ico-download.gif) no-repeat 3px 0;
}
.profile-list .actions a.vcard,
.info-box .actions a.vcard{
	background:url(../images/ico-vcard.gif) no-repeat 0 2px;
}
.paging{
	width:100%;
	position:relative;
	overflow:hidden;
}
.paging .hold{
	float:left;
	position:relative;
	left:50%;
}
.paging .hold div{
	position:relative;
	left:-50%;
	float:left;
}
.paging ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.paging ul li{
	width:30px;
	height:30px;
	float:left;
	font-size:12px;
	text-align:center;
	line-height:30px;
	margin:0 5px 0 0;
}
.paging .label{
	float:left;
	font-size:12px;
	color:#09090f;
	padding:6px 10px 0 0;
}
.paging ul a{
	float:left;
	background:url(../images/bg-pagin.gif) no-repeat;
	width:30px;
	height:30px;
	color:#09090f;
}
.paging ul a:hover,
.paging ul .current{
	text-decoration:none;
	color:#fff;
	background:url(../images/bg-pagin.gif) no-repeat 0 -31px;
}
.paging ul a.next,
.paging ul a.prev{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btns-pagin.gif) no-repeat;
}
.paging ul a.prev:hover{background-position:0 -31px;}
.paging ul a.next{
	background-position:-31px 0;
}
.paging ul a.next:hover{
	background-position:-31px -31px;
}
.main-container{
	width:100%;
	margin:-30px 0 0;
	padding:26px 0 0;
	background:url(../images/divider02.gif) repeat-y 582px 0;
}
.main-container:after{
	content:"";
	display:block;
	clear:both;
}
#content{
	width:570px;
	float:left;
}
#sidebar{
	width:242px;
	float:right;
}
.profile{
	background:url(../images/bg-profile.gif) repeat-x 0 100%;
	padding:0 0 54px;
	margin:0 0 17px;
}
.info-box{
	float:left;
	width:224px;
	margin:0 26px 0 0;
}
.profile h2{
	font-size:24px;
	line-height:28px;
	color:#666;
	font-weight:normal;
	margin:0 0 13px;
}
.profile p{
	margin:0 0 12px;
}
#content h3{
	font-size:16px;
	line-height:19px;
	margin:0 0 12px;
	font-weight:normal;
	color:#666;
}
#content h4{
	margin:0 0 14px;
	color:#09090f;
	font:bold 14px/17px "MyriadPro-Bold", sans-serif;
}
.list{
	margin:0;
	padding:0 0 0 2px;
	list-style:none;
}
.list li{
	padding:0 0 13px 9px;
	background:url(../images/bullet03.gif) no-repeat 0 6px;
}
#sidebar .search-form {
	padding:0 0 5px;
	border-bottom:1px solid #ccc;
}
#sidebar .search-form .row{
	width:242px;
	margin:0 -2px;
	padding:0 0 5px;
}
#sidebar .search-form label{
	width:70px;
	text-align:right;
	color:#666;
	font-size:12px;
	padding:4px 4px 0 0;
}
#sidebar .section{
	padding:41px 0 16px;
}
#sidebar .section .title{
	width:100%;
	border-bottom:1px solid #ccc;
	padding:0 0 4px;
	margin:0 0 9px;
}
#sidebar .section .title:after{
	content:"";
	display:block;
	clear:both;
}
#sidebar .section .title img{
	float:right;
	margin:-6px 0 0;
}
#sidebar .section h3{
	font-size:14px;
	line-height:18px;
	color:#000;
	font-weight:normal;
	margin:0;
}
#sidebar .item-list{
	margin:-8px 0 0;
	padding:0;
	list-style:none;
}
#sidebar .item-list li{
	width:100%;
	overflow:hidden;
	padding:5px 0 11px;
	border-bottom:1px solid #ccc;
}
#sidebar .item-list a{
	float:left;
	padding:0 0 0 10px;
	background:url(../images/bullet04.gif) no-repeat 0 5px;
	color:#666;
}
#sidebar .item-list p{
	margin:0;
	padding:0 0 0 10px;
	background:url(../images/bullet04.gif) no-repeat 0 5px;
}
#sidebar .item-list p a{
	padding:0;
	float:none;
	background:none;
	color:#c00;
}
#sidebar .video {
	padding:0 0 12px;
}
#sidebar .video img{display:block;}
#sidebar .more{
	background:url(../images/bullet04.gif) no-repeat 0 5px;
	padding:0 0 0 10px;
}
.posts{
	padding:0 0 4px;
}
.post{
	width:100%;
	padding:7px 0 21px;
	color:#999;
	margin:0 0 14px;
	border-bottom:1px solid #e1e1e1;
}
.post:after{
	content:"";
	display:block;
	clear:both;
}
.post .title{padding:0 0 10px;}
.post h2,
.post h1{
	font-size:24px;
	font-weight:normal;
	line-height:28px;
	color:#020202;
	margin:0;
}
.post h2 a{color:#020202;}
.post .posted{
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:16px;
	padding:0 0 12px;
}
.post .posted p a{color:#333;}
.post .links{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.post .links a{color:#999;}
.post .links li{
	float:left;
	padding:0 6px 0 7px;
	background:url(../images/separator03.gif) no-repeat 0 50%;
}
.post .links li:first-child{
	background:none;
}
.post .links a,
.post .links img{float:left;}
.post .comment-link{
	padding:0 0 0 18px;
	background:url(../images/ico-comment.gif) no-repeat 0 50%;
}
.post .posted p{
	margin:0;
}
.post p{
	margin:0 0 14px;
}
.search .row{
	background:url(../images/bg-search-form.gif) no-repeat;
	width:229px;
	height:28px;
	overflow:hidden;
	padding:0 0 0 9px;
}
.search .row .text{
	float:left;
	width:195px;
	border:0;
	padding:7px 0 5px;
	margin:0;
	background:none;
	color:#999;
	font-size:12px;
	line-height:14px;
}
.search .btn{
	background:none;
	width:32px;
	height:28px;
	float:right;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
	font-size:0;
	text-indent:-9999px;
	overflow:hidden;
}
#sidebar .subscribe {
	margin:-12px 0 0 2px;
}
#sidebar .subscribe .row{
	background:url(../images/bg-subscribe-form.gif) no-repeat;
	width:228px;
	height:28px;
	padding:0 0 0 10px;
}
#sidebar .subscribe .text{
	width:145px;
}
#sidebar .subscribe h3{
	margin:0 0 4px;
}
#sidebar .subscribe label{
	color:#666;
	padding:0 0 14px;
	display:block;
}
#sidebar .widget_search{
	padding:18px 0 0 3px;
}
.social-list {
	height:1%;
	overflow:hidden;
	padding:16px 0 0 3px;
	margin:0 0 -11px;
}
.social-list ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.social-list ul li{
	float:left;
	margin:0 5px 0 0;
}
.social-list ul a,
.social-list ul img{float:left;}
.social-list .label{
	float:left;
	color:#666;
	padding:3px 10px 0 0;
}
.widget_twitter .btn-more{
	padding:0 0 0 10px;
	margin:0 0 0 5px;
	background:url(../images/bullet04.gif) no-repeat 0 5px;
	color:#333;
}
#sidebar .widget_twitter .item-list {
	margin:-8px 0 8px;
}
#sidebar .widget_twitter .item-list li{
	padding:7px 8px 11px 4px;
	height:1%;
	width:auto;
}
.post .image{
	background:url(../images/shadow-image.gif) no-repeat 0 100%;
	padding:0 0 22px;
	margin:0 0 0 -7px;
}
.post .image img{display:block;}
.quote{
	padding:5px 0 0 11px;
	margin:-4px 0 10px -2px;
	background:url(../images/bg-quote.gif) no-repeat;
}
.quote .t,
.quote .b{
	background:url(../images/bg-quote-t.png) no-repeat;
	width:532px;
	height:10px;
	overflow:hidden;
}
.quote .b{background:url(../images/bg-quote-b.png) no-repeat;}
.quote .c{
	width:476px;
	padding:0 20px 0 36px;
	background:url(../images/bg-quote-c.png) repeat-y;
}
.quote .c:after{
	content:"";
	display:block;
	clear:both;
}
.quote blockquote{
	margin:-4px 0 0;
	width:100%;
	float:left;
}
.quote p{
	margin:0;
}
.post .tags{
	margin:0;
	padding:6px 0 8px;
	height:1%;
	overflow:hidden;
	font-size:12px;
}
.post .tags dt{
	float:left;
	padding:0 3px 0 18px;
	background:url(../images/ico-tags.gif) no-repeat;
}
.post .tags dd{
	margin:0;
	height:1%;
	overflow:hidden;
}
.post .tags a{color:#333;}
#content .section-info h2{
	color:#000;
	font-size:14px;
	line-height:17px;
	font-weight:normal;
	margin:0 0 13px 4px;
}
.topiclist{
	width:240px;
	float:left;
}
.topiclist ul{
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px solid #f0f0f0;
}
.topiclist ul li{
	height:1%;
	overflow:hidden;
	padding:4px 18px 7px 0;
	border-bottom:1px solid #f0f0f0;
}
.topiclist ul a{
	float:left;
	padding:0 0 0 10px;
	background:url(../images/bullet04.gif) no-repeat 0 5px;
	color:#666;
}
.section-info{
	width:100%;
	overflow:hidden;
	padding:3px 0 65px;
}
.comments{
	width:582px;
	margin:0 0 0 -14px;
	position:relative;
	padding:0 0 22px;
}
.commentlist{
	margin:0;
	padding:0 0 0 8px;
	list-style:none;
}
.commentlist li{
	width:100%;
	overflow:hidden;
}
.commentlist .comment{
	height:1%;
	overflow:hidden;
	margin:0 0 5px;
	padding:10px 9px 12px 10px;
	border:1px solid #e3e4e2;
	box-shadow:0 0 3px #d9d9d9 inset;
	-moz-box-shadow:0 0 3px #d9d9d9 inset;
	-webkit-box-shadow:0 0 3px #d9d9d9 inset;
	
}
.commentlist .odd{
	background:#edeeed;
}
.commentlist .comment img{
	float:left;
	box-shadow:0 0 3px #ccc;
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
	margin:4px 14px 0 0;
}
.commentlist .comment p{
	margin:0;
	color:#787777;
}
.commentlist .comment .meta{padding:0 0 10px;}
.commentlist .comment .meta p{color:#999;}
.commentlist .comment p a{color:#333;}
.children{
	margin:0;
	padding:0 0 0 35px;
	list-style:none;
	background:url(../images/bg-comment.gif) no-repeat 11px 0;
}
.commentlist .reply{
	text-align:right;
	text-transform:uppercase;
	font-size:10px;
	line-height:12px;
}
.commentlist .reply a{color:#999;}
.heading{
	height:1%;
	overflow:hidden;
	margin:0 0 34px;
	padding:10px 0 20px 12px;
	background:url(../images/bg-headline1.gif) no-repeat 0 100%;
}
.heading h2{
	color:#666;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	margin:0;
}
.respond{
	width:583px;
	margin:0 0 0 -13px;
	position:relative;
	padding:0 0 2px;
	background:url(../images/bg-respond.gif) no-repeat 0 100%;
}
.respond form{
	border:solid #ccc;
	border-width:0 1px;
	margin:-10px 0 0;
	padding:44px 23px 45px;
}
.form-list{
	margin:0;
	height:1%;
}
.respond .heading{
	margin:0;
	padding:10px 0 29px 12px;
}
.form-list dt{
	float:left;
	width:72px;
	padding:0 0 10px;
	line-height:15px;
}
.form-list label{
	width:72px;
	float:left;
	color:#999;
}
.form-list dd{
	height:1%;
	padding:0 0 10px;
	overflow:hidden;
}
.form-list .text{
	float:left;
	background:url(../images/bg-text.gif) no-repeat;
	width:179px;
	padding:0 7px;
	height:28px;
}
.form-list .text input{
	font-size:12px;
	line-height:14px;
	float:left;
	border:0;
	padding:6px 0 5px;
	margin:0;
	background:none;
	width:179px;
	outline:none;
}
.form-list .textarea{
	background:url(../images/bg-textarea.gif) no-repeat;
	width:303px;
	height:103px;
	float:left;
	padding:4px 3px 4px 7px;
}
.form-list .textarea textarea{
	margin:0;
	float:left;
	width:303px !important;
	height:103px !important;
	padding:0;
	border:0;
	font-size:12px;
	line-height:14px;
	outline:none;
	overflow:auto;
}
.form-list .btn-submit{
	float:left;
	background:url(../images/bg-btn-submit.gif) no-repeat;
	width:80px;
	height:28px;
	cursor:pointer;
	line-height:28px;
	color:#666;
	font-size:14px;
	padding:0 0 1px;
	border:0;
	margin:7px 0 0 31px;
}
.post .list{
	margin:-3px 0 0;
	padding:0 0 0 8px;
}
.post .list li{padding:0 0 12px 10px;}
.section-info .info-box {margin:0 62px 0 0;}
#content .section-info .topiclist h2{
	margin:0 0 13px -2px;
}
.navigation{
	width:100%;
	overflow:hidden;
	padding:14px 0 0;
}
.navigation a{
	color:#333;
}
.columns{
	width:580px;
	margin:0 -2px 0 -22px;
	overflow:hidden;
	padding:9px 0 11px;
}
.columns-holder{
	float:left;
	margin:0 -30px 0 0;
	padding:0 0 0 18px;
}
.columns-holder .col{
	float:left;
	color:#666;
	font-size:12px;
	line-height:18px;
	padding:0 25px 0 5px;
}
.columns address{
	font-style:normal;
	margin:0 0 1px;
}
.columns address span{
	display:block;
}
#content .columns .col h2,
#content .columns .col h3{
	color:#333;
	margin:0;
	font:18px/22px 'Ubuntu-Regular', sans-serif;
}
.columns p{margin:0;}
.columns p a{color:#333;}
.columns dl{
	height:1%;
	overflow:hidden;
	margin:0;
}
.columns dl dt{
	float:left;
	padding:0 3px 0 0;
}
.columns dl dd{
	height:1%;
	overflow:hidden;
	margin:0;
}
.columns .email{
	padding:0 0 0 20px;
	margin:0 0 0 2px;
	background:url(../images/ico-email1.gif) no-repeat 0 3px;
}
.map-link {
	width:100%;
	overflow:hidden;
	padding:9px 0 0;
}
.map-link a{
	float:left;
	color:#333;
	padding:0 0 0 15px;
	background:url(../images/ico-map.gif) no-repeat;
}
.columns .heading{
	padding:10px 0 20px 22px;
	margin:0 0 18px;
}
#sidebar .widget_pages h3{
	margin:0 0 4px;
	color:#666;
	font:24px/28px 'Ubuntu-Regular', sans-serif;
}
#sidebar .widget_pages .item-list a:hover,
#sidebar .widget_pages .item-list .active a{
	color:#000;
}
#sidebar .widget_pages .item-list .active a:hover{
	text-decoration:none;
}
#sidebar .widget_pages {
	padding:3px 0 16px;
}
.contact-form {
	width:582px;
	margin:0 -4px 0 -22px;
	padding:31px 0 0;
}
.columns .heading h2,
.contact-form .heading h2{color:#333;}
.contact-form .form-list{
	padding:0 0 0 23px;
}
.contact-form .heading{
	margin:0 0 16px;
	padding:10px 0 20px 21px;
}
.contact-form .form-list label{
	padding:5px 0 0;
}
a.hidden {
	position:absolute;
	top:0;
	left:-9999px;
}

.alignleft{float:left; padding-right: 5px;}
.alignright{float:right; padding-left: 5px;}
.aligncenter {display:block;margin-left:auto;margin-right:auto}

.mpd_clear { clear: both; }
ul.mpd_hb_list { list-style-type: none; margin: 0; padding: 0 5px; }
ul.mpd_hb_list li { float: left; margin: 0 2px; text-align: center; color: #fff; font-size: 16px; font-weight: bold; padding-top: 72px; cursor: pointer; }
ul.mpd_hb_list li a { color: #fff; }
ul.mpd_hb_list li.mpd_publications_box { width: 107px; height: 35px; background: url('../images/publications-image.jpg') no-repeat; }
ul.mpd_hb_list li.mpd_perspectives_box { width: 107px; height: 35px; background: url('../images/perspectives-image.jpg') no-repeat; }
ul.mpd_hb_list li.mpd_people_box { width: 107px; height: 35px; background: url('../images/people-image.jpg') no-repeat; }